<div class="main">
    <div class="nav">
<h1 class="title-section">My first Application</h1>
</div>
    <p>Sonali</p>
    <p class="city-section">{{city2}}</p>

{{name}}
<p>{{name}}</p>

<p>{{no1 + no2}}</p>

<p>{{500+40}}</p>


<p>{{500+20+'sonali'+40+30}}</p>

<p>{{learningInterpolation()}}</p> g

<p>{{no1+600}}</p>

<!--<p>{{no1=430}}</p>  assigning value to property from interpolation is not allowed -->

<!--<p>{{}}</p>  Blank expressions are not allowed in interpolation -->

<p>{{no2==10}}</p> <!-- It will gives true or false-->

</div>
    