.main{
    background-color: rgb(53, 193, 74);
    color: dodgerblue;
    border: 20cm;
    height: 700px;
    width: 95rem;
    background-image: url('/assets/Images/waterfall.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    .title-section{
        margin: auto;
        text-shadow: 0dvb;
        text-align: center;
    }
    .nav{
        background-color: crimson;
    }
}
